.yd-order-info{
    width: 1100px;
    margin-left: 50px;
    padding: 30px 50px 60px 35px;
    box-sizing: border-box;
    border: 1px dashed #cee9ff;
    margin-top: 30px;
}
.yd-order-title{
    font-size: 20px;
    color: #1081d9;
    position: relative;
    margin-bottom: 35px;
}
.yd-order-title:before{
    content: '';
    display: inline-block;
    height: 20px;
    width: 3px;
    background: #1081d9;
    position: absolute;
    left: -20px;
    top: 5px;

}
.yd-order-data{
    display: flex;
    justify-content: space-between;
}
.yd-data-left>div:first-child{
    font-size: 16px;
    margin-bottom: 25px;
    color: #333333;
}
.yd-order-data{
    font-size: 13px;
    height: 100px;
}
.yd-data-left>div{
    margin-bottom: 20px;
}
.yd-data-left{
    color: #999999;
    display: inline-block;
}
.yd-data-left span{
    color: #333333;
}
.yd-price span:first-child{
    font-size: 18px;
    font-weight: bold;
}
.yd-price{
    margin-bottom: 15px;
}
.yd-price a{
    color: #ff424f;
    font-size: 16px !important;
}
.yd-price span:last-child {
    color: #ff424f;
    font-size: 36px;
}
.yd-data-right{
display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
}
.yd-data-right>div:last-child{
    font-size: 12px;
}
.yd-main{
    flex-wrap: wrap;
}
.yd-order-explain{
    font-size: 14px ;
    width: 100%;
    color: #999999;
    line-height: 30px;
    margin-left: 85px;
    margin-top: 35px;
}
.yd-order-sum{
    text-align: right;
    border: 1px dashed #cee9ff;
    height: 80px;
    line-height: 80px;
    width: 1100px;
    margin-left: 50px;
    padding-right: 30px;
    box-sizing: border-box;
    font-size: 14px;
}
.yd-order-sum>span:last-child{
    font-size: 24px;
    color: #1081d9;
    margin-left: 30px;
}
.yd-order-ensure{
    float: right;
    width: 120px;
    height: 40px;
    background: #1081d9;
    color: #ffffff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
    margin-top: 40px;
    margin-right: 50px;
    margin-bottom: 100px;
    cursor: pointer;
}


.main{
    background: #fafafa;
    padding: 70px 0 ;
    overflow: hidden;
}


.yd-book-success {
    width: 1000px;
    padding-top: 127px;
    height: 550px;
    margin: 0 auto;
    background: #ffffff;
    text-align: center;
    box-sizing: border-box;
}
footer {
    margin-top: 0;
}
.yd-book-success>div:nth-child(2){
    font-size: 22px;
    margin-top: 25px;
}
.yd-book-success>div:nth-child(3){
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 50px;
    color: #999999;
}
.yd-book-success>div:nth-child(3)>a{
    font-size: 12px;
    color: #ff424f;
}
.yd-success-opt{
    width: 365px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 0 auto;
}
.yd-success-opt>a{
    display: block;
    width: 140px;
    height: 40px;
    margin: 0 20px;
    line-height: 40px;
    text-align: center;
    float: left;
    box-sizing: border-box;
}
.yd-success-opt>a:hover{
    color: inherit;
}
.yd-success-opt>a:first-child{
    background: #1081d9;
    color: #fff;
    border-radius: 2px;
}
.yd-success-opt>a:last-child{
    border: 1px solid #1081d9;
    border-radius: 2px;
    color: #1081d9;
}

.yd-maga-bac{
    width: 100%;
    height: 475px;
    background: url("../../cn/image/magazine.png") no-repeat center center;
}
.yd-magazine-con{
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;
    padding: 0 35px;
    box-sizing: border-box;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -325px;
}
.yd-maga-top{
    padding-top: 45px;

}
.yd-maga-cover{
    width: 265px;
    height: 365px;
    overflow: hidden;
    margin-top: -110px;
    float: left;
    margin-right: 66px;
}
.yd-maga-cover img{
    width: 100%;
}
.yd-maga-info{
    width: 490px;
    height: 245px;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: space-between;
}
.yd-maga-code{
    width: 150px;
}
.yd-magazine-name{
    font-size: 26px;
}
.yd-magazine-data{
    color: #999999;
    font-size: 12px;
    margin: 40px 0;
}
.yd-magazine-price{
    color: #ff424f;
    margin-right: 50px;
}
.yd-magazine-price span{
    font-size: 24px;
}
.yd-magazine-data>span:last-child{
    margin-left: 25px;
}
.yd-magazine-text{
    font-size: 12px;
    color: #666666;
    line-height: 30px;
}
.yd-magazine-opt{
    display: flex;
    margin-top: 40px;   
}
.yd-magazine-opt>a{
    width: 155px;
    display: block;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    font-size: 16px;
    display: inline-block;
}
.yd-magazine-opt>a:first-child{
    color: #fff;
    background: #1081d9;
    margin-right: 30px;
    cursor: pointer;
}
.yd-magazine-opt>a:last-child{
    border:1px solid #1081d9;
    color: #1081d9;
}
.yd-magazine-watch{
    font-size: 12px;
    color: #999999;
    margin-bottom: 20px;

}
.yd-magazine-watch i{
    margin-right: 10px;
}
.yd-maga-code{
    margin-right: 60px;
    margin-top: 20px;
    float: left;
    margin-left: 70px;

}
.yd-maga-code  .yd-code{
    width: 150px;
    height: 150px;
}
.yd-code img{
    width: 100%;
    height: 100%;
}
.yd-maga-code>div:last-child{
    text-align: center;
    font-size: 12px;
}
.yd-main-book-recommend ul{
    background: #fafafa;
    flex-direction: column;
    line-height: 30px;
    padding-bottom: 30px;
}
.yd-main-book-recommend ul li{
    position: relative;
    display: flex;
    padding-left: 30px;
    align-items: center;
    position: relative;


}
.yd-main-book-recommend ul li:before{
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    width: 8px;
    height: 8px;
    background: #e6e6e6;
    border-radius: 50%;
    margin-right: 20px;
}
.yd-magazine .yd-main{
    width: 1130px;
    padding-top: 40px;
    padding-bottom: 80px;
    box-sizing: content-box;
}
.yd-chapter{
    width: 730px;
    margin-top: 20px;
    float: left;
}
.yd-chapter-title{
    height: 45px;
    display: flex;
    border-bottom: 1px solid #eeeeee;
}
.yd-title{
    height: 45px;
    line-height: 45px;
    display: inline-block;
    font-size: 20px;
}
.yd-chapter-con{
    display: flex;
    flex-wrap: wrap;
}
.yd-chapter-group{
    width: 50%;
    margin-top: 40px;
    float: left;
}
.yd-chapter-name{
    display: flex;
    margin-top: 40px;
    align-items: center;
    font-size: 14px;
    color: #666666;
    line-height: 25px;
}
.yd-chapter-sign{
    font-size: 16px;
}
.yd-chapter-sign:before{
    content: '';
    width: 2px;
    height: 15px;
    display: inline-block;
    background: #1081d9;
    margin-right: 10px;
}
.yd-chapter-num{
    width: 25px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    float: left;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1081d9;
    background: #f7fbff;
    border: 1px solid #1081d9;
    box-sizing: border-box;
    margin-right: 40px;
}
.yd-magazine{
    margin-bottom: 60px;
}
.yd-mask{
    background: rgba(51,51,51,.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
}
.yd-magazine-alert{
    width: 425px;
    height: 320px;
    background: #ffffff;
    position: absolute;
    text-align: center;
    padding-top: 30px;
    top: calc(50% - 160px);
    left: calc(50% - 212px);

}

.yd-alert-close{
    position: absolute;
    right: 10px;
    top: 10px;
}
.yd-alert-opt{
    display: flex;
    width: 305px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;
}
.yd-alert{
    display: none;
}
.yd-alert-opt>div{
    font-size: 14px;
    width: 105px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 20px;
}
.yd-alert-opt>div>a{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    color:white
}

.yd-alert-opt>div:first-child{
    background: #1081d9;
    color: #ffffff;
}
.yd-alert-opt>div:last-child{
    border: 1px solid #1081d9;
    color: #1081d9;
}
.yd-magazine-alert>div:nth-child(3){
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.yd-magazine-alert>div:nth-child(4){
    font-size: 14px;
    color: #999999;
}